.site-header {
    padding: 10px 0;
    position: absolute;
    z-index: 2;
    background-color: rgba($mainBlue, .3);
    width: 100%;
}

.site-header__btn-container {
    float: right;
}

.site-header__logo {
    position: absolute;
    top: 0;
    background-color: $mainBlue;
    padding: 25px 35px;
}