.site-header {
    padding: 10px 0;
    position: absolute;
    z-index: 2;
    transition: background-color .3s ease-out;
    width: 100%;

    @mixin atMedium {
        background-color: rgba($mainBlue, .3);
    }
}

.site-header--is-expanded {
    background-color: rgba($mainBlue, .5);
}

.site-header__btn-container {

    @mixin atMedium {
        float: right;
    }
}

.site-header__logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) scale(.8);
    transform-origin: 50% 0;
    background-color: $mainBlue;
    padding: 25px 35px;

    @mixin atMedium {
        left: auto;
        transform: translateX(0);
    }
}

.site-header__logo__graphic {
    text-indent: -9999px;
}

.site-header__menu-icon {
    width: 20px;
    height: 20px;
    background-color: #FFFFFF;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;

    @mixin atMedium {
        display: none;
    }
}

.site-header__menu-content {
    opacity: 0;
    transform: scale(1.2);
    transition: all .3s ease-out;
    position: relative;
    z-index: -10;
    text-align: center;
    padding-top: 90px;

    @mixin atMedium {
        opacity: 1;
        z-index: 1;
        padding-top: 0;
        transform: scale(1);
    }
}

.site-header__menu-content--is-visible {
    opacity: 1;
    z-index: 1;
    transform: scale(1);
}



